<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="./js/homePage/compare.js"></script>
    <script src="./js/homePage/product_detail.js"></script>
    <script src="./js/homePage/forum.js"></script>
    <script src="./js/jquery-ui-1.13.0/jquery-ui-1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="./js/jquery-ui-1.13.0/jquery-ui-1.13.0/jquery-ui.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="./css/resetcss.css">
    <link rel="stylesheet" href="./css/home_page.css">
    <link rel="stylesheet" href="./css/layout.css">
</head>

<body>
    <!-- 導覽列 -->
    <%- include("./layout/header.ejs") %>

    <div style="height: 80px;"></div>
    <div class="container-fluid">
        <div id="recommendedProductCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
            <ol class="carousel-indicators">
                <li data-target="#recommendedProductCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#recommendedProductCarousel" data-slide-to="1"></li>
                <li data-target="#recommendedProductCarousel" data-slide-to="2"></li>
                <li data-target="#recommendedProductCarousel" data-slide-to="3"></li>
                <li data-target="#recommendedProductCarousel" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <!-- <div class="carousel-item active"> -->
                <% for(i=0; i<recommended_list.length; i++){ %>
                    <% if(i==0){ %>
                <div class="carousel-item active">
                    <% } else{ %>
                <div class="carousel-item">
                    <% } %>
                    <div class="container">
                        <div class="row row-cols-3">
                            <div class="row row-cols-1 single_product">
                                <div class="col hot_tag">
                                    <img src="./img/icon/hot_tag.png"alt="">
                                </div>
                                <div class="col">
                                    <img src=<%= recommended_list[i].img_path %> class="carousel_img" alt="...">
                                </div>
                                <div class="col carousel_font"><%= recommended_list[i].product_name %></div>
                                <input type="text" name="product_id" value="<%= recommended_list[i++].product_id %>" hidden>
                            </div>
                            <div class="row row-cols-1 single_product">
                                <div class="col hot_tag">
                                    <img src="./img/icon/hot_tag.png"alt="">
                                </div>
                                <div class="col">
                                    <img src=<%= recommended_list[i].img_path %> class="carousel_img" alt="...">
                                </div>
                                <div class="col carousel_font"><%= recommended_list[i].product_name %></div>
                                <input type="text" name="product_id" value="<%= recommended_list[i++].product_id %>" hidden>
                            </div>
                            <div class="row row-cols-1 single_product">
                                <div class="col hot_tag">
                                    <img src="./img/icon/hot_tag.png"alt="">
                                </div>
                                <div class="col">
                                    <img src=<%= recommended_list[i].img_path %> class="carousel_img" alt="...">
                                </div>
                                <div class="col carousel_font"><%= recommended_list[i].product_name %></div>
                                <input type="text" name="product_id" value="<%= recommended_list[i].product_id %>" hidden>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <a class="carousel-control-prev" href="#recommendedProductCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#recommendedProductCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="content">
        <div class="content_box">
            <table>
                <tr>
                    <th class="table_title" colspan="6">熱門比較</th>
                </tr>
                <tr class="tr_compare_border">
                    <% compare_list.forEach((row, key) => { %>
                        <% if(key%2==0){ %>
                        <td class="td_product_backgroud td_border_left"><img class="product_img" src="<%= row.img_path %>" alt=""></td>
                        <td class="td_product_backgroud"><img class="product_img" src="./img/icon/vs.png" alt=""></td>
                        <% }else{ %>
                        <td class="td_product_backgroud td_border_right"><img class="product_img" src="<%= row.img_path %>" alt=""></td>
                        <% } %>
                    <% }) %>
                </tr>
                <tr>
                    <% compare_list.forEach((row, key) => { %>
                        <td><%= row.product_name %></td>
                        <% if(key%2==0){ %>
                        <td class="compare">
                            <div class="div_compare compare_click">
                                <p>比較</p>
                                <input type="text" name="product_01" value="<%= compare_list[key].product_id %>" hidden>
                                <input type="text" name="product_02" value="<%= compare_list[key+1].product_id %>" hidden>
                            </div>
                        </td>
                        <% } %>
                    <% }) %>
                </tr>
            </table>
        </div>
        <div class="content_box">
            <table>
                <tr>
                    <th class="table_title" colspan="5">最新商品</th>
                </tr>
                <tr>
                <% product_list.forEach((row, key) => { %>
                    <td class="td_border td_product_backgroud single_product">
                        <img class="product_img" src="<%= row.img_path %>" alt="">
                        <input type="text" name="product_id" value="<%= row.product_id %>" hidden>
                    </td>
                <% }) %>
                </tr>
                <tr>
                <% product_list.forEach((row, key) => { %>
                    <td class="td_border single_product">
                        <%= row.product_name %>
                        <input type="text" name="product_id" value="<%= row.product_id %>" hidden>
                    </td>
                <% }) %>
                </tr>
            </table>
        </div>
        <div class="content_box">
            <table>
                <tr>
                    <th class="table_title" colspan="4">熱門話題</th>
                </tr>
                <tr>
                    <th class="table_sub_title">看板</th>
                    <th class="table_sub_title">版主</th>
                    <th class="table_sub_title">觀看次數</th>
                    <th class="table_sub_title">發表時間</th>
                </tr>
                <% forum_list.forEach((row, key) => { %>
                    <tr class="top_forum">
                        <td class="td_border">
                            <div>
                                <img class="kanban_img" src="./img/icon/burning.png" alt="">
                                <%= row.title %>
                            </div>
                            <input type="text" name="forum_id" value="<%= row.forum_id %>" hidden>
                        </td>
                        <td class="td_border"><%= row.nickname %></td>
                        <td class="td_border"><%= row.views %></td>
                        <td class="td_border"><%= moment(row.bdate).format("yyyy-MM-DD HH:mm:ss") %></td>
                    </tr>
                <% }) %>
            </table>
        </div>
    </div>

    <!-- footer -->
    <%- include("./layout/footer.ejs") %>
    <script src="./js/slide.js"></script>

    <div title="Basic" id="compare_product">
        <div>
            <div class="card-deck">
                <div id="compare_01" class="card">
                    <img src="" class="card-img-top" alt="">
                    <div class="card-body"></div>
                </div>
                <div id="compare_02" class="card">
                    <img src="" class="card-img-top" alt="">
                    <div class="card-body"></div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>